body {
  margin: 0;
  padding: 0;
}
main {
  text-align:center;
}
#title {
  text-align: center;
}

input {
  border:1px solid lightgray;
  display:block;
  margin:0 auto 1rem;
  max-width:200px;
}
button {
  background:lightseagreen;
}
