body {
  margin: 0;
  padding: 0;
}
main {
  text-align:center;
}
#title {
  text-align: center;
}

input {
  border:1px solid lightgray;
  display:block;
  margin:0 auto 1rem;
  max-width:200px;
}
button {
  background:lightseagreen;
}
.c-operating {
  display:flex;
  justify-content: center;
}
.c-number {
  max-width:none;
  width:30px;
  margin:0 1rem 1rem;
}
